* {
    box-sizing: border-box;

}
:root {
    --premery-color: #b80257;
    --text-color: #ffffff;
}
html {
    font-size: 62.5%;
    font-family: "Source Sans 3", sans-serif;
}
h1, h2 ,h3 ,h4, h5, h6 {
    font-family: "PT Sans", sans-serif;
}

.inner {
    width: 100%;
    background-image: url(https://themazine.com/html/scholars-lms/images/home/banner-2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* start header form */

.header {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}
.heaer-half {
    min-height: 496px;
    width: 1170px;
    margin: 0 auto;
    padding: 40px 0 0;
    display: flex;
    flex-direction: column;
}
.header-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
}

.header-wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}
.header-form {
    gap: 10px;
    display: flex;
    color: var(--text-color);
    font-size: 1.6rem;
}

.header-form  li {
    position: relative;
}
.header-form-navbar {
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 200px;
    background-color: var(--text-color);
    max-height: 0;
    overflow: hidden;
    visibility: hidden;
    /* transform: scale(0); */
    transition: all 0.8s linear;
    color: #111;
}
.header-form > .header-form-li:hover .header-form-navbar{
    /* transform: scale(1); */
    max-height: 500px;
    visibility:visible;
}

.header-form > li > a {
    display: flex;
    flex-grow: 1;
    color: var(--text-color);
    text-decoration: none;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    font-family: "PT Sans", sans-serif;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.header-form-navbar > li > a {
    padding-left: 10px;
    font-size: 1.6rem;
    line-height: 4.5rem;
    display: block;
    color: #00000099;
}
.header-form-navbar > li > a:hover {
    background-color: var(--premery-color);
    color: var(--text-color);
}

.header-content h1 {
    font-size: 3rem;
    color: var(--text-color);
    margin-bottom: 20px;
}
.header .icon {
    display: flex;
}

.header-form > li > a {
    padding: 5px 10px;
    display: flex;
    color: var(--text-color);
    text-decoration: none;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    font-family: "PT Sans", sans-serif;
    height: 100%;
    justify-content: center;
    align-items: center;
}

a > i {
    display: inline-block;
    font-size: 1.8rem;
    color: var(--text-color);
}
h1 {
    font-size: 4rem;
}
.breadcrumb {
    font-size: 1.6rem;
    padding: 0;
    margin: 0;
    display: flex;
    color: var(--text-color);
}
.breadcrumb > li > a::after {
    content: "/";
    padding: 0 5px;
}
.breadcrumb > li {
    margin: auto;
    font-size: 1.6rem;
}
.breadcrumb > li > a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.6rem;
}

/* start content */
.wraper {
    display: flex;
    gap: 30px;
}
.content {
    width: 1170px;
    margin: 0 auto;
    margin-bottom: 100px;

}
.content-list {
    margin-top: 100px;
}
.course-menu {
    flex-grow: 1;
}
.ul-course-menu {
    display: flex;;
    justify-content: center;
    gap: 30px;
}
.ul-course-new {
    background-color: #4173f1;
}
.wraper-search {
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.6);
    border-radius: 8px;
}
.wraper-search > input {
    padding: 5px;
    border-radius: 20px;
    border: none;
    outline: none;
    margin-left: 10px;
}
div > a > i {
    margin: 8px 8px;
}
.wraper-search > a > i {
    color: rgba(0, 0, 0, 0.5);
}
.wraper-list-search {
    display: flex;
    flex-direction: column;
    gap: 30px;

}
.wraper-list-search > ul {
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.wraper-list-search  li + li {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.ul-search, .topics {
    line-height: 40px;
    font-size: 1.5rem;
}
.ul-search > li {
    padding: 0 20px;
}
.ul-search > li > a{
    opacity: 0.8;
    color: #000;
    position: relative;
    display: block;
    transition: all ease 0.4s;
}
.ul-search > li > a:hover {
    opacity: 1;
    translate: 10px;
    color: rgb(79, 79, 206);
}
.topics {
    font-weight: 700;
}
.ul-course-menu > li >a {
    color: #111;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 20px;
}
.ul-course-menu > li >a:hover {
    background-color: #783df0;
}
.wrap-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.box {
    display: flex;
    flex-direction: column;
    width: 30%;
    max-height: 30%;
    margin-top: 70px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    gap: 20px;
    overflow: hidden;

}
.box-text > h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    font-weight: 700;
}

.box-text > p {
    font-size: 1.6rem;
    margin-bottom: 10px;
    min-height: 50px;
}
.box-img {
    position: relative;
}
.box-img img{
    top: 0;
    left: 0;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    transform: scale(1);
    transition: all 0.4s linear;
}

.box:hover .box-main {
    transform: scale3D(1.1, 1.1, 1);
    overflow: hidden;
}
.box-img-font::before {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    content: '\f0e7';
    font-family: 'Font Awesome 5 Free';
    font-weight: 800;
    font-size: 2rem;
    padding-bottom: 12px;
    top: -62px;
    right: -68px;
    color: #fff;
    width: 140px;
    height: 100px;
    position: absolute;
    transform: rotate(40deg);
    z-index: 1;
    background-color: var(--premery-color);
}
.box-text {
    padding: 10px;
}
.box-ul {
    display: flex;
    gap:10px;
    font-size: 1.6rem;
    justify-content: space-evenly;
    align-items: center;
}

.left {
    display: flex;
    align-items: center;
}
.btn {
    color: var(--text-color);
    padding: 5px 10px;
    box-shadow: 3px 3px 7px hsl(0, 0%, 75%);
    top: 0;
    left: 0;
    position: relative;
    transition: all ease 1s;
}
.btn:hover {
    box-shadow: inset 8px 5px 15px #c74481,
    inset -8px -8px 15px #874c67;
    top: -5px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);

}
.btn-free {
    background-color: #783df0;
    border: 1px solid ;
    border-radius: 20px;
}
.distance {
    margin: 0 5px;
}
.btn-main {
    background-color: var(--premery-color);
    border-radius: 20px;
}
.box-pages {
    display: flex;
    margin-left: 30px;
    gap: 10px;
    margin-top: 45px;
}
.box-pages > li > .box-pages-btn:hover {
    border: 1px solid;
    color: #4173f1;
    opacity: 1;
}
.box-pages-opacity {
    opacity: 0.7;
}
.box-pages > li > a {
    padding: 5px 10px;
    font-size: 1.6rem;
    border: 1px solid #111;
    border-radius: 8px;
}
.box-pages-next {
    color: var(--text-color);
    font-weight: 500;
    background-color: #783df0;
}

/* start footer */

.wrap--footer {
    width: 100%;
    height: 500px;
    background-color: #151515;
}

.footer--text__color{
    color: rgba(143, 161, 161, 1);
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    gap: 10px;
}
.footer--text__color li a{
    color: rgba(143, 161, 161, 1);
    font-size: 1.4rem;
    transition: all 0.1s linear;
}
.footer--text__color li a:hover {
    color: var(--premery-color);
}
.footer--text__color li h1 {
    font-size: 2rem;
    color: var(--text-color);
    margin-bottom: 20px;
}
.col-md-2 {
    width: 16.66666667%;
}
.footer {
    padding-top: 50px;
    width: 1170px;
    margin: 0 auto;
    display: flex;
    gap: 10px;
}
.footer--logo {
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 1.4rem;
}
.footer--logo__icon {
    display: flex;
    gap: 20px;
}
.footer--subscribe__color {
    color: var(--text-color);
    font-size: 2rem;
    margin-bottom: 20px;
}
.footer--input {
    background-color: #272727;
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 20px;
    color: rgba(255, 255, 255, 0.6);
}
.btn-primery {
    position: relative;
    top: 0;
    left: 0;
    letter-spacing: 2px;
    cursor: pointer;
    border: none;
    width: 100px;
    height: 40px;
    padding: 10px 10px;
    background-color: var(--premery-color);
    color: var(--text-color);
    border-radius: 20px;
    transition: all 0.4s linear;
    z-index: 0;
}
.btn-primery::after {
    position: absolute;
    content: "";
    inset: 0;
    transform: scale(0);
    transform-origin: center;
    cursor: pointer;
    border: none;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    z-index: -1 ;
    transition: all 0.3s linear;
    background-color: var(--text-color);
}
.btn-primery:hover::after {
    transform: scale(1);
}
.btn-primery:hover  {
    background-color: var(--text-color);
    color: var(--premery-color);
}